.search {
  display: flex;
  width: 100%;
  background-color: #fff;
  gap: 12px;
}

.dark {
  background-color: #23272f;
}
.light {
  background-color: #fff;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #eaeaec;
  border-radius: 12px;
}
